@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

:root {
  --bg-color: #131722;
  --main-font: "Montserrat", sans-serif;
  --light-bg: #24baef;
  --font-color: #ffff;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--main-font);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.my_input {
  background-color: transparent;
  border: 1px solid #a8a8a83d;
  color: white;
}

.brdr {
  height: 1px;
  background-color: #a8a8a83d;
}

.vote {
  background-color: var(--light-bg);
}

.offline {
  background-color: var(--main-font);
  box-shadow: 10px 10px 10px #ccc;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
}
